/*
table, tr, td, caption {
    border: solid #2B3139 1px;
}
*/
html {
    scroll-behavior: smooth;
}

.captions img {
    width: 100%;
    height: 250px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    user-select: none;
}

.captions div {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: ghostwhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.caption_one {
    top: 8%;
    font-size: 3.5rem; /*56px*/
    user-select: none;
}

.caption_two {
    top: 150px;
    font-size: 2rem; /*24px;*/
    user-select: none;
}

.main_table {
    width: 100%;
}

.main_table caption {
    color: #2B3139;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 36px;
    padding-top: 2%;
    padding-bottom: 2%;
}

.main_table_description {
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: left;
    color: #6D7177;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.main_table_description p {
    padding-left: 18%;
    padding-right: 18%;
    line-height: 24px;
}

.main_table_left_picture, .main_table_right_picture {
    padding: 16px 8px;
    direction: rtl;
}

.main_table_right_picture {
    direction: ltr;
}

.images_container {
    width: 64%;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.25);
    overflow: hidden;
    transition: box-shadow 400ms ease-in-out, border-radius 400ms ease-in-out;
    border-radius: 16px;
}

.main_table_left_picture img, .main_table_right_picture img {
    height: 400px;
    width: 600px;
    object-fit: cover;
    transform: scale(1);
    transition: transform 400ms ease-in-out;
}

.images_container:hover {
    box-shadow: 0 0 48px 0 rgba(0, 0, 0, 0.15);
    border-radius: 24px;
}

.main_table_left_picture img:hover, .main_table_right_picture img:hover {
    transform: scale(1.05);
}

.text_caption {
    line-height: 40px;
    color: #2B3139;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:24px;
}

.main_table_row_one p {
    margin-left: 10%;
    margin-right: 25%;
    text-align: left;
    color: #6D7177;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.main_table_row_two p {
    margin-left: 40%;
    text-align: left;
    color: #6D7177;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.footer img {
    width: 100%;
    height: 150px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

ul {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin: auto;
    width: 64%;
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 16px 0;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    background-color: #1E2F3C;
    box-shadow: 0 4px 4px 0 #2d465b, 0 6px 24px 0 rgba(0,0,0,0.10);

}

li {
    margin: auto;
    color: ghostwhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    cursor: pointer;
}

li a {
    text-decoration: none;
    color: white;
}

footer {
    width: 100%;
    height: 150px;
    background-color: #1E2F3C;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

footer .author {
    width: 350px;
    height: 150px;
    position: absolute;
    transform: translate(-50%);
    left: 50%;
}

.author p {
    color: ghostwhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
    position:absolute;
    transform: translate(-50%);
    left: 50%;
    bottom: 5%;
    user-select: none;
}